/meta/                                  @MatthewStanciu @rayhanadev

# Comms Division
/comms/fundraising/                     @Phineas1500
/comms/marketing/                       # No one owns this yet
/comms/outreach/alumni/                 @rayhanadev
/comms/outreach/clubs-and-orgs/         @rayhanadev
/comms/outreach/vip-newsletter/         @saahilaneja
/comms/social/                          @jaddenki

# Design Division
/design/assets/                         # No one owns this yet
/design/badges/                         # No one owns this yet

# Engineering Division
/engineering/beacons/                   @ImTheSquid
/engineering/dashboard/                 @MatthewStanciu @rayhanadev
/engineering/door-opener/               @FizzyApple12
/engineering/doorbell/                  @FizzyApple12
/engineering/lightning-time/            @MatthewStanciu
/engineering/meta/                      @ImTheSquid @rayhanadev
/engineering/passports/authority        @MatthewStanciu
/engineering/passports/id               @ImTheSquid
/engineering/passports/issuing-office   @MatthewStanciu
/engineering/passports/pdf-concat       @rayhanadev
/engineering/passports/                 @MatthewStanciu
/engineering/phone-bell/                @FizzyApple12
/engineering/site/                      @lilianzlettuce
/engineering/tabulus/                   @TheBlueTophat
/engineering/the-sign/                  @ImTheSquid
/engineering/vulcan/                    @Infinidoge
/engineering/wack-hacker-bot/           @rayhanadev

# Events Division
/events/archive/                        @rayhanadev
/events/ask-me-anythings/               @MatthewStanciu @rayhanadev
/events/callouts/                       @MatthewStanciu @rayhanadev
/events/commit-overflow/                @MatthewStanciu @rayhanadev
/events/hack-night/                     @MatthewStanciu @rayhanadev
/events/passport-ceremonies/            @MatthewStanciu @rayhanadev
/events/server/                         @MatthewStanciu @rayhanadev @Infinidoge
/events/workshops/                      @MatthewStanciu @rayhanadev

# Finances Division
/finances/budget/                       @joshamstutz
/finances/reimbursements/               @joshamstutz @MatthewStanciu

# Division Leads
/engineering/                           @ImTheSquid
/comms/                                 @Phineas1500
/design/                                # No one owns this yet
/events/                                @rayhanadev
/finances/                              @joshamstutz

# Documentation Lead
*                                       @rayhanadev
