# Evergreen project owner
*                                       @rayhanadev

# Division Leads
/engineering/                           @ImTheSquid
/comms/                                 @Phineas1500
/design/                                @hestabshim
/events/                                @rayhanadev
/finances/                              @joshamstutz
/meta/                                  @rayhanadev

# Meta
/meta/locations/lawson-office.md        @Infinidoge

# Comms Division
/comms/fundraising/                     @Phineas1500
/comms/marketing/                       # No one owns this yet
/comms/outreach/alumni/                 @rayhanadev
/comms/outreach/clubs-and-orgs/         @rayhanadev
/comms/outreach/vip-newsletter/         @saahilaneja
/comms/social/                          @jaddenki

# Design Division
/design/assets/                         @hestabshim
/design/badges/                         @hestabshim
/design/branding2025/                   @hestabshim

# Engineering Division
/engineering/beacons/                   @ImTheSquid
/engineering/dashboard/                 @rayhanadev
/engineering/door-opener/               @FizzyApple12
/engineering/doorbell/                  @FizzyApple12
/engineering/meta/                      @ImTheSquid @rayhanadev
/engineering/passports/authority        @FizzyApple12
/engineering/passports/id               @ImTheSquid
/engineering/passports/issuing-office   @TheShadowEevee
/engineering/passports/pdf-concat       @rayhanadev
/engineering/passports/                 @rayhanadev
/engineering/phone-bell/                @FizzyApple12
/engineering/site/                      @lilianzlettuce
/engineering/tabulus/                   @TheBlueTophat
/engineering/the-sign/                  @ImTheSquid
/engineering/vulcan/                    @Infinidoge
/engineering/wack-hacker-bot/           @rayhanadev

# Events Division
/events/archive/                        @rayhanadev
/events/ask-me-anythings/               @rayhanadev
/events/callouts/                       @rayhanadev
/events/commit-overflow/                @rayhanadev
/events/hack-night/                     @rayhanadev
/events/passport-ceremonies/            @rayhanadev
/events/server/                         @rayhanadev @Infinidoge
/events/workshops/                      @rayhanadev

# Finances Division
/finances/budget/                       @joshamstutz
/finances/reimbursements/               @joshamstutz @rayhanadev
